/* Custom CSS
-------------------------*/

/* Fix page heading. */
body {
  padding-top: 0;
}
/* Position logo. */
a.logo-container {
    display: inline-block;
    margin: 30px 0 30px 15px;
}
@media screen and (max-width: 767px) {
    a.logo-container {
        margin: 0 0 3px 0;
    }
    a.logo-container img.logo {
        max-width: 360px;
    }
}
a.logo-container.banner {
    margin: 0 0 2px 0;
}
a.logo-container img.logo.banner {
    max-width: 100%;
}
/* Changed navbar from fixed to inline. */
.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative;
  margin-bottom: 20px;
}
.navbar .brand {
  float: none;
  margin-left: 20px;
}

/* Add space after labels for radio buttons in feedback form. */
.felement.fgroup label {
  padding-right: 30px;
}

/* Stylize the topic sections on course page. */
body#page-course-view-topics ul.topics>li {
    background-color: #F9F9F9;
    padding: 0.01em 16px;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0
    rgba(0,0,0,0.12)!important;
}

/* Add space right below the navigation menu bar. */
#page-header {
 margin-bottom: 1%;
}
/* Add space right above top of side blocks. */
#region-pre {
 width: 80%;
}

/* Make background of side blocks white. */
.block {
  background: white;
}

/* Maximize size of image in course list. */
.coursebox .content .courseimage img {
    max-width: 100%;
    max-height: none;
}

/* Remove background colour of breadcrumbs. */
.breadcrumb {
    background-color: white;
}

/* Turn breadcrumb links into buttons for mobile devices. */
@media screen and (max-width: 979px) {
  .breadcrumb li {
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    border: 1px solid lightgrey;
    padding: 4px 8px 4px 16px;
    margin: 0 6px 6px 0;
    background-color: #f5f5f5;  /* Fallback for browsers that don't support gradients. */
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6)); /* Safari 4+, Chrome. */
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6); /* Chrome 10+, Safari 5.1+, iOS 5+. */
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6); /* Firefox 3.6. */
    background-image: -ms-linear-gradient(top, #fff, #e6e6e6); /* IE10. */
    background-image: -o-linear-gradient(top, #fff, #e6e6e6); /* Opera 11.10+. */
    background-image: linear-gradient(to bottom, #fff, #e6e6e6); /* W3C Standard. */

    background-repeat: repeat-x;
    border-radius: 10px 5px;
  }
  .breadcrumb li:hover {
    background-color: #e5e5e5;
    background-image: none;
  }
  .breadcrumb li .divider {
    display:none;
  }
}

/* Adjust size of headings. */
h1 {
 font-size: 175%;
}
h2 {
 font-size: 150%;
}
h3 {
 font-size: 130%;
}

/* Underline all links for accessibility. */
a {
    text-decoration: underline;
}
/* EXCEPT link buttons and navigation menu. */
a.btn,
ul.nav li a {
  text-decoration: none;
}

/* Fix bootstrap row left margin. */
.row {
    margin-left: 0;
}

/* Disable background hover colour change for course tree sections. */
.courses .coursebox:hover,
.course_category_tree .courses>.paging.paging-morelink:hover {
    background-color: #FFF;
}

/* Remove icon next to course name. */
.coursebox>.info>.coursename a {
    background-image: none;
    padding-left: 0;
    padding-bottom: 0;
}

/* Add missing space after ordered list in label. */
.modtype_label ol {
  margin-bottom: 12px;
}

/* Fix width of mediaplugin player. */
div .mediaplugin.mediaplugin_videojs div {
  max-width: 100%!important;
}

/* Centre video play button. */
.video-js .vjs-big-play-button {
  background-color: red;
  top: 42%;
  left: 42%;
}

/* Heading colour of each block to purple. */
.block .header h2 {
    color: #7E5B65;
}

/* Change color of primary button (usually blue, now green). */
.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #096A65; /* Fallback for browsers that don't support gradients. */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C938C', endColorstr='#096A65',GradientType=0);  /* IE6-IE9. */
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#0C938C),to(#096A65)); /* Safari 4+, Chrome. */
    background-image: -webkit-linear-gradient(top,#0C938C,#096A65); /* Chrome 10+, Safari 5.1+, iOS 5+. */
    background-image: -moz-linear-gradient(top,#0C938C,#096A65); /* Firefox 3.6. */
    background-image: -ms-linear-gradient(top, #0C938C, #096A65); /* IE10. */
    background-image: -o-linear-gradient(top, #0C938C, #096A65); /* Opera 11.10+. */
    background-image: linear-gradient(to bottom, #0C938C, #096A65); /* W3C Standard. */
    border-color: #096A65 #096A65 #001e5c;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #fff;
    background-color: #096A65;
}

/* Footer: Remove Moodle logo and some links. */
#page-footer .sitelink,
#page-footer .logininfo,
#page-footer .homelink {
  display: none;
}

/* Make dimmed /hidden text and links accessible. */
a.dimmed, a.dimmed:link, a.dimmed:visited, a.dimmed_text, a.dimmed_text:link, a.dimmed_text:visited, .dimmed_text, .dimmed_text a, .dimmed_text a:link, .dimmed_text a:visited, .usersuspended, .usersuspended a, .usersuspended a:link, .usersuspended a:visited, .dimmed_category, .dimmed_category a {
    color: #696969;
}

/* Disable zebra effect on course list. */
.courses .coursebox.even {
    background-color: #fff;
}

/* Back to top button */
#back-to-top {
    position: fixed;
    right: 30px;
    bottom: 5%;
    display: none;
    z-index: 99;
    height: 50px;
    line-height: 50px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    background-color: rgba(0,0,0,.25);
    box-shadow: 0 0 1px #FFF;
    transition: all 0.3s ease 0s;
    padding: 0 10px;
}

/**
 * Custom CSS Settings. Do not modify below this line. It's not just a comment!
 */
/* setting-customcss */
